img {
    height: 50px;
    opacity: 0.5;
}

body {
    font-family: 'Titillium Web', sans-serif;
    color: tomato;
    background-color: lightcyan;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

p {
    font-size: 20px;
}

main {
    text-align: right;
}

a {
    color: tomato;
}

nav {
    /*background-color: black;
    opacity: 0.5;*/
    background-color: rgba(0, 0, 0, 0.5);
}