img {
    height: 50px;
}

body {
    font-family: 'Titillium Web', sans-serif;
    color: tomato;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

p {
    font-size: 20px;
}

main {
    text-align: right;
}

a {
    color: tomato;
}